<h1> Are you in the room {{user.room}} ?</h1>

<button type="button" class="btn" [ngClass]="insideRoom ? 'btn-success' : 'btn-outline-success'" (click)="!insideRoom && saveInside()" >
    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
</svg>
    Inside
  </button>

  <button type="button" class="btn" [ngClass]="insideRoom ? 'btn-outline-danger' : 'btn-danger' "(click)="insideRoom && saveInside()">
    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
      </svg> Outside  </button>

<br>


    <button type="button"
            class="btn btn-danger btn-xlarge"
            (click)="collapse.toggle(); scroll(target_button)" 
            [attr.aria-expanded]="showAlertValidation"
      aria-controls="collapseExample">
      <svg xmlns="http://www.w3.org/2000/svg" width="120" height="80" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
  Alert &nbsp; &nbsp;
    </button>

    
  <div #collapse="ngbCollapse" 
       [(ngbCollapse)]="!showAlertValidation">
       Are you sure ? This will alert everyone in the building. 
       <br>
       <button #target_button type="button" class="btn btn-danger" (click)="alert()">
        <i class="bi bi-megaphone-fill"></i> Yes !
      </button>
      
  </div>
